.nav-link{
    color: white !important;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: yellow;
}

.cart_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.left{
    width: 45em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 10px 0px 0px;
    background-color: #05386B;
}

.right{
    width: 45em;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    background-color: #EDF5E1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mycard{
    width: 40em;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.quant_p_m{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.price{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.cartbtn{
    display: flex;
    justify-content: center;
    align-self: center;
}