{% extends 'admin_base.html' %}
{% block main %}
<br>
<div class="container-sm">
    <form class="row g-3" method="post">
        {% csrf_token %}
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Category Name</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Enter Category Name" name="name">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" value="Submit">Submit</button>
        </div>
    </form>
</div>

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
{% endblock %}