{% include 'navbar.html' %}
{% load static custom_tags %}
{% block body %}
<br>
<h3 class="m-2" style="float: left;">Your cart</h3>
<a href="{% url 'booking' %}"><button type="button" class="btn btn-success m-2" style="float: right;">Check Out</button></a>
<a href="{% url 'user_product' 0 %}"><button type="button" class="btn btn-warning m-2" style="float: right;">Continue Shopping</button></a>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">MRP</th>
            <th scope="col">Discount</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for i, j in product.items %}
        <tr>
            <td><img class="img-thumbnail" src="{{i|productimage}}" alt="product" style="width:100px;height:100px"></a>
            </td>
            <td><a href="{% url 'product_detail' i %}" class="link-success link-offset-2 link-underline link-underline-opacity-0" style="text-decoration: none;">{{i|productname}}</a></td>
            <td>{{i|productprice}}</td>
            <td>{{i|productdiscount}}%</td>
            <td>{{i|applydiscount}}</td>
            <td>
                <a href="{% url 'decre' i %}" class="btn btn-warning pull-left" id="decrebtn-{{forloop.counter}}">-</a>
                <input type="text" class="cart-plus-minus-box" size="2" type="text" style="border:1px solid grey; border-radius: 2px;" id="shop_qty-{{forloop.counter}}" name="qtybutton" value="{{j}}" readonly/>
                <a href="{% url 'incre' i %}" class="btn btn-warning pull-right">+</a>
            </td>
            <td id="totalprice-{{forloop.counter}}">{% producttotalprice i j %}</td>
            <td>
                <a href="{% url 'deletecart' i %}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6"></td>
            <td colspan="2" id="total-price"></td>
        </tr>
    </tbody>
</table>
<script>
    var prolenth = '{{lenpro}}';
    var mytotal = 0;
    for (var i = 1; i <= prolenth * 1; i++) {
        totalprice = parseFloat(document.getElementById('totalprice-' + i).innerHTML);
        var mytotal = parseFloat(mytotal) + (totalprice);
    }
    document.getElementById('total-price').innerHTML = mytotal;
</script>


{% endblock %}