{% load static %}
{% include 'navbar.html' %}

<script>

function check()
{
    if(document.change.new.value!=document.change.recon.value)
    {
        document.change.new.focus();
        alert("Passwords do not match");
        return false;
    }
}

</script>

<div class="card m-5 border border-success">

    <div class="card-body">
        <h2 class="card-title text-center">Edit Profile</h5>
            <h5 class="card-subtitle mb-2 text-body-secondary text-center pb-2">Edit your details below</h6>
                <form class="was-validated row g-1" name="signup" method="post" onsubmit="return(check())">
                    {% csrf_token %}

                    <div class="form-floating col-md-12 mb-3">
                        <input type="password" class="form-control" id="curr" name="curr" placeholder="Enter your current password" required>
                        <label for="curr" class="form-label">Enter your current password</label>
                        <div class="invalid-feedback">
                            Please enter current password
                        </div>
                    </div>

                    <div class="form-floating col-md-6 mb-3">
                        <input type="password" class="form-control" id="new" name="new" placeholder="Enter new password" required>
                        <label for="new" class="form-label">Enter new password</label>
                        <div class="invalid-feedback">
                            Please enter new password
                        </div>
                    </div>

                    <div class="form-floating col-md-6 mb-3">
                        <input type="password" class="form-control" id="recon" name="recon" placeholder="Reenter password" required>
                        <label for="recon" class="form-label">Reenter password</label>
                        <div class="invalid-feedback">
                            Please reenter password
                        </div>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit" value="submit">Edit details</button>
                    </div>
                </form>

    </div>

</div>