{% load static %}
{% include 'navbar.html' %}

<script>

function check()
{
    if(document.change.new.value!=document.change.recon.value)
    {
        document.change.new.focus();
        alert("Passwords do not match");
        return false;
    }
}

</script>

<form name="change" method="post" onsubmit="return(check())">
    {% csrf_token %}
    <label for="curr">Current Password</label><br>
    <input type="password" placeholder="Enter your current password" name="curr" id="curr" required><br><br>
    <label for="new">New Password</label><br>
    <input type="password" placeholder="Enter New Password" name="new" id="new" required><br><br>
    <label for="recon">Reenter</label><br>
    <input type="password" placeholder="Reenter your password" name="recon" id="recon" required><br><br>
    <input type="submit">
</form>