{% extends 'navbar.html' %}
{% load static %}
{% block body %}
<style>
    img{
        height:500px;
        width: auto;
    }
    .carousel-caption {
        background-color: rgba(0,0,0,0.5);
    }
</style>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" style="background-color: darkslategray;">
    <div class="carousel-inner">
        {% for i in data %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <center><img src="{{i.product.image.url}}" class="d-block" alt="Slide {{forloop.counter}}"></center>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{i.product.name}}</h5>
                <p>{{i.product.description}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" style="filter: invert(100%);">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next" style="filter: invert(100%);">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}