{% include 'navbar.html' %}

{% block body %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Booking ID</th>
            <th scope="col">Total amount</th>
            <th scope="col">Status</th>
            <th scope="col">Order date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for i in orders %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.id}}</td>
            <td>{{i.total}}</td>
            <td><a href="#" class="btn btn-primary disabled" title="Track Status">{{i.get_status_display}}</a></td>
            <td>{{i.created}}</td>
            <td>
                <a href="{% url 'user_order_track' i.id %}" class="btn btn-warning" title="Track Order"><i class="fa-solid fa-spinner"></i></a>
                {% if i.status < 4 %}
                <a href="{% url 'cancel_order' i.id %}" class="btn btn-danger" title="Cancel Order"><i class="fa-solid fa-xmark"></i></a>
                {% elif i.status == 4 %}
                <a href="{% url 'return_order' i.id %}" class="btn btn-success" title="Return Order"><i class="fa fa-refresh"></i></a>
                {% endif %}
                {% if i.status == 4 %}
                <a href="{% url 'feedback' i.id %}" class="btn btn-success" title="Feedback"><i class="fa-solid fa-comments"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}