{% include 'navbar.html' %}

{% block body %}

<script>
    function decrease()
    {
        var x=parseInt(document.getElementById('quantity').value);
        if(x>0)
        {
            document.getElementById('quantity').value=x-1;
        }
    }

    function increase()
    {
        var x=parseInt(document.getElementById('quantity').value);
        if(x<100)
        {
            document.getElementById('quantity').value=x+1;
        }
    }

</script>

<div class="cart_page">
    <div class="left">
        <div class="card" style=" width: 40em;">
            <img src="{{product.image.url}}" class="card-img-top" alt="..." style="height: 890px;" >
            <div class="card-body bg-warning bg-gradient">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="mycard">
            <div class="price">
                <p>MRP: <span class="btn btn-warning">₹{{product.price}}</span></p>
                <p>Discount: <span class="btn btn-success">{{product.discount}}%</span></p>
                <p>Price: <span class="btn btn-success">₹{{actprice}}<span class="btn btn-success"></span></p>
            </div>
            <div class="quant_p_m">
<!--                 
                <i class="fa-solid fa-minus" style="margin: 10px;" onclick="decrease()"></i> -->
                <!-- <input type="text" class="form-control text-center" id="quantity" value="1" style="width: 50px;" readonly> -->
                <!-- <i class="fa-solid fa-plus" style="margin: 10px;" onclick="increase()"></i> -->
            </div>
            <div class="cartbtn">
                <a href="{% url 'add_to_cart' product.id %}"><button type="button" class="btn btn-outline-success">Add to cart</button></a>
            </div>
        </div>
    </div>
</div>
<br>
<div class="grid text-center">
    {% for j in latest_product %}
    <div class="g-col-6 g-col-md-4">
        <div class="card d-flex align-items-center">
            <img src="{{j.image.url}}" class="card-img-top p-2" alt="..." style="width: 30%; height: 30%;">
            <div class="card-body">
                <a href="{% url 'product_detail' j.id %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover card-title">
                    {{j.name}} Rs.{{j.price}}</a>
                <p class="card-text" style="font-size:14px">
                    {{j.description}}</p>
                <a href="{% url 'add_to_cart' j.id %}"><button type="submit" class="btn btn-primary">Add To Cart</button></a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}