{% include 'navbar.html' %}
{% load static %}

<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'user_product' 0 %}" style="color: red;">All Products</a>
                </li>
                {% for i in allcategory %}
                <li class="nav-item">
                    <a class="nav-link text-warning" href="{% url 'user_product' i.id %}">{{i.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> -->

    <div class="alert alert-info text-center" role="alert">
        {% if category %}

        {{category.name}}

        {% else %}

        All products

        {% endif %}
      </div>

    <div class="grid text-center">
        {% for j in product %}
        <div class="g-col-6 g-col-md-4">
            <div class="card d-flex align-items-center">
                <img src="{{j.image.url}}" class="card-img-top p-2" alt="..." style="width: 30%; height: 30%;">
                <div class="card-body">
                    <a href="{% url 'product_detail' j.id %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover card-title">
                        {{j.name}} Rs.{{j.price}}</a>
                    <p class="card-text" style="font-size:14px">
                        {{j.description}}</p>
                    <a href="{% url 'product_detail' j.id %}"><button type="submit" class="btn btn-primary">Add To Cart</button></a>
                </div>
            </div>
        </div>

        {% empty %}

        <div class="g-col-6 g-col-md-4">
            <div class="card d-flex align-items-center">
                No Products in this category
            </div>
        </div>

        {% endfor %}
      </div>


